.container{
    display: flex;
}
.card{
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
}